@media screen and (max-width: 990px) {
  .tam {
    height: 70%;
  }
  header div img{
    height: 82%;
    margin-top: 11px;
  }
  .infoNot {
    height: 330px;
  }
  .infoNot button {
    bottom: 15px;
  }
  .slick-dots{
    display: none !important;
  }
  .leonardo{
    padding: 30px 20px 100px;
  }
}

@media screen and (max-width: 830px) {
  header{
    display: none !important;
  }
  .mobile{
    display: block;
  }
  #social-mobile{
    border-bottom: 2px solid white;
  }
  .top{
    top: 80px;
  }
  #social{
    text-align: center;
    height: 80px;
    padding-top: 4px;
  }
  #social a:first-child, #social a:nth-child(2){
    display: block;
  }
  #social a{
    display: none;
  }
  #header-mobile{
    width: 100%;
    background: #93C90E;

    height: 80px;
    position: fixed;
    z-index: 999;
  }
  #header-mobile img{
    display: inline-block;
    height: 100%;
    padding: 15px;
  }
  #social-mobile img{
    width: 35px;
    margin: 18px;
    display: inline-block;
  }
  #menu-mobile{
    position: fixed;
    left: -300px;
    width: 300px;
    height: 100vh;
    overflow: scroll;
    background: #93C90E;
    z-index: 999;
    -webkit-transition: .55s all;
    -moz-transition: .55s all;
    -o-transition: .55s all;
    transition: .55s all;
  }
  #menu-mobile.open{
    left: 0;
  }
   #menu-mobile .op{
    width: 100%;
    height: 70px;
    border-bottom: 2px solid white;
    text-align: center;
    line-height: 70px;
    color: white;
    font-size: 22px;
    font-weight: bold;
   }
   .cont-menu{
      width: 100%;
      height: 100%;
      min-height: 630px;
   }
  /*Menu icon*/
  #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4 {
    width: 40px;
    height: 35px;
    position: relative;
    margin: 17px;
    float: right;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
  }
  #nav-icon2 span {
    display: block;
    position: absolute;
    height: 5px;
    width: 50%;
    background: white;
    opacity: 1;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }
  #nav-icon2 span:nth-child(even) {
    left: 50%;
    border-radius: 0 9px 9px 0;
  }
  #nav-icon2 span:nth-child(odd) {
    left:0px;
    border-radius: 9px 0 0 9px;
  }
  #nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
    top: 0px;
  }
  #nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
    top: 14px;
  }
  #nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
    top: 28px;
  }
  #nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #d3531a;
  }
  #nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background: #d3531a;
  }
  #nav-icon2.open span:nth-child(1) {
    left: 5px;
    top: 9px;
  }
  #nav-icon2.open span:nth-child(2) {
    left: calc(50% - 5px);
    top: 9px;
  }
  #nav-icon2.open span:nth-child(3) {
    left: -50%;
    opacity: 0;
  }
  #nav-icon2.open span:nth-child(4) {
    left: 100%;
    opacity: 0;
  }
  #nav-icon2.open span:nth-child(5) {
    left: 5px;
    top: 20px;
  }
  #nav-icon2.open span:nth-child(6) {
    left: calc(50% - 5px);
    top: 20px;
  }
  /*submenus*/
  .optsMenu{
    width: 250px;
    margin: auto;
    text-align: center;
    background: #93C90E;
    height: 0px;
    overflow: hidden;
    -webkit-transition: .55s all;
    -moz-transition: .55s all;
    -o-transition: .55s all;
    transition: .55s all;
  }
  .optsMenu div{
    width: 100%;
    height: 30px;
    color: white;
    line-height: 40px;
    font-weight: bold;
    font-size: 18px;
    border-bottom: 1px solid white;
  }
  /*.optsMenu div:last-child{
    border: none;
  }*/
  #optsPro.open{
    height: 150px;
  }
  #optsCon.open{
    height: 120px;
  }
   #optsC3.open{
    height: 150px;
   }
  #optsInv.open{
    height: 60px;
  }
  #optsuap.open{
    height: 90px;
  }
  #optsEvent.open{
    height: 180px;
  }
  /*Banner*/
  #banner  .arrows{
    display: none;
  }
  #banner, .slider{
    height: 32vw !important;
    background-size: cover;
    background-color: transparent;
  }
  .linksMenu{
    font-size: 15pt;
  }
  .footerSPECIES{
    margin-top: 210px;
  }
  .foot{
    background-color: #5B6770;
  }
  .tam2{
    width: 100%;
    height: 100%;
  }
  .nameDate h4, .nameDate h5{
    text-align: left;
  }
}

@media screen and (max-width: 575px){
  #social a.elecciones{
    float: none !important;
    line-height: inherit !important;
  }
  .infoNot {
    height: 240px;
  }
  .body-card {
    height: 75px;
  }
  .body-card p {
    -webkit-line-clamp: 3;
  }
  #vincularse .videoVinc{
    width: 100%;
    float: none;
  }
  #vincularse .ifovideoY{
    display: none;
  }
}

@media screen and (max-width: 425px) {

  #nav-icon1, #nav-icon2, #nav-icon3, #nav-icon4{
    margin: 23px 15px 23px 0 !important;
  }

}
