* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	color: black;
	margin: 0;
	padding: 0;
	font-size: 12px;
	font-family: 'Helvetica';
}
html, body {
	width: 100%;
	height: 100%;
	margin: auto;
	min-height: 730px;
	position: relative;
}
a:active, a:hover{
	text-decoration: none !important;
	color: #FF671B !important;
}
.dropdown-item:active {
    background-color:#93C90E !important;
}
.float{
	float: left;
}
.mobile{
	display: none;
}
.btn{
	cursor: pointer;
}
header{
  width: 100%;
  background-color: #93C90E;
 /*background-image: url("../image/Pleca_menu.png");*/
  background-repeat: no-repeat;
  height: 123px;
  position: fixed;
  z-index: 999;
}
header div{
  height: 100%;
}
header div img{
  height: 100%;
  padding: 20px;
}
header div nav{
  padding-top: 48px;
  float: right;
}
header div nav a{
	font-size: 18px;
	color: white;
	padding-left: 9px;
}
.open-submenu:hover ul.submenu{
	display: block;
    top: -24px;
    left: calc(100% - 1px);
}
.open-submenu:hover ul.submenu.left{
	display: block;
    top: -2px;
    left: -182px;
}
h1{
	font-size: 24px;
}
.cont{
	width: 100%;
	max-width: 1000px;
	margin: auto;
	position: relative;
}
.center-cont{
	height: 100%;
	display: table;
}
.center-elem{
	display: table-cell;
	vertical-align: middle;
}
.top{
	position: relative;
	top: 123px;
}
/*Banner*/
#banner{
	width: 100%;
	height: 322px;
	position: relative;
	background-color: black;
	position: relative;
}
#banner .arrows{
    padding: 0 15px;
}
#banner .arrows .next{
    position: absolute;
    top: 100px;
	right: 15px;
	height: 70px;
	z-index: 9;
}
#banner .arrows .prev{
	-ms-transform: rotate(180deg); /* IE 9 */
    -webkit-transform: rotate(180deg); /* Come, Safari, Opera */
    transform: rotate(180deg);
    height: 70px;
    position: absolute;
    top: 100px;
	left: 15px;
	z-index: 9;
}
#banner .arrows img{
	visibility: hidden;
	cursor: pointer;
}
.sliderBanner{
	width: 100%;
	height: 100%;
}/*
.slick-slide{
	text-align: center;
}
.slick-dots {
  top: 15px;
  right: 40px;
}*/

.cel{
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
	font-size: 15pt;
}
.m-b-20{
	margin-bottom: 20px;
}

hr{
   height:8px;
   background-color:black;
   border:solid;
 }
p{
	font-size: 12pt;
}
.menu{
	font-size: 8pt;
}

.image-responsive{
	width: 100%;
}
.image-responsive2{
	width: 110%;
}
.image-responsive3{
	width: 80%;
}

.tamLinks{
	font-size: 12pt;
}
.tamC3{
	height: 120px;
	width: 170px;
	margin-left: 20px;	
}
.tamConabio{
	height: 120px;
	width: 190px;
	margin-left: 25px;
}
.footerSPECIES{
	margin-top: 190px;
	/*height:323px;*/
	width:100%;
	background-color: #5B6770;
	font-size: 12pt;
}
@font-face {
    font-family: Din;
    src: url(../fonts/DINPro.otf);
}
ul.nav.navbar-right.nav-pills li{
  padding: 3px;
}
.relative{
	position: relative;
}
.gris{
	background-color: #5B6770;
}
.blanco{
	color: white;
}
.negro{
	color: black;
}
.auto{
	margin: auto;
}

.t{
	margin-bottom: 1px;
}
.btnvideo{
	margin-left: 15px;
}
